.button {
	@include transition();
	height: 40px;
	cursor: pointer;
	padding: 1px 30px 0;
	border: none;
	background: $color-blue;
	border-radius: 3px;
	color: #fff;
	font-family: $font-family;
	font-weight: 400;
	font-size: inherit;
	&:hover {
		opacity: 0.8;
	}
	&_line {
		background: #ffffff;
		border: 1px solid $color-grey;
		color: #000;
	}
}
