$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

$color-grey: #cfcfcf;
$color-grey-2: #d5d5d5;
$color-grey-3: #8c8c8c;
$color-grey-4: #555770;
$color-grey-form: #ededf1;
$color-blue: #3366ff;

$font-family: 'Roboto', sans-serif;

$ease-google: cubic-bezier(0.4, 0, 0.2, 1);
$cubic: cubic-bezier(0.19, 1, 0.22, 1);
